/**
 * Images
 */
.image-full {
  height: auto;
  width: 740px;
  border: 1px solid $grey-color;

}

.image-thumb {
  height: 120px;
  background: cover;
  width: auto;
  border: 1px solid $grey-color;

}

.thumbnail-wrapper {

  // border: 1px solid $grey-color;
  // overflow: hidden;
}

.thumbnail-container {
  height: 180px;
  width: 100%;
  border: 1px solid $grey-color;
  overflow: auto;
  display: block;
  // align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 66%;
}



/**
 * iFrames
 */
.auto-resizable-iframe {
  max-width: 740px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 57%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/**
 * Page Navigation
 */
.FloatParent {
  display: block;
  // height: 12px;

}

.FloatLeft {
  max-width: 90%;
  float: left;
  text-align: left;
}

.FloatRight {
  text-align: right;
  float: right;
  overflow: hidden;
}
