---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- <header class="post-header"> -->
  <!-- <div > -->
    <div class="FloatLeft">
      /
      <a href="./">{{ page.categories }}</a>
      /
      <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
    <div class="FloatRight">
      {% if page.previous.url %}
          <a href="{{page.previous.url}}"><</a>
          {% else %}
              <a href="./">#</a>
      {% endif %}
      {% if page.next.url %}
            <a href="{{page.next.url}}">></a>
            {% else %}
                <a href="./">#</a>
      {% endif %}
    </div>
  <!-- </div> -->
  <!-- </header> -->
  <br />
  <br />
  <br />
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <br />
  {% if page.previous.url %}
    <div class="FloatLeft">
      <a class="prev" href="{{page.previous.url}}">< {{page.previous.title}}</a>
    </div>
    {% else %}
      <div class="FloatLeft">
        <a class="next" href="./">#</a>
      </div>
  {% endif %}

  {% if page.next.url %}
    <div class="FloatRight">
        <a class="next" href="{{page.next.url}}">{{page.next.title}} ></a>
      </div>
      {% else %}
      <div class="FloatRight">
          <a class="next" href="./">#</a>
        </div>
  {% endif %}

</article>
